body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color: whitesmoke;
}

div {
    background-color: #061539;
    color: whitesmoke;
    padding: 30px;
    margin: 20px;
}

h3{
    color: #F3C623;
    font-style: italic;
}

h4 {
    text-align: center;
    font-size: 19px;

}

p {
    font-size: 16px;
    line-height: 1.5;
}


.list {
    text-align: left;
    font-stretch: semi-condensed;
    font-style: oblique;
}

.heading {
    text-align: center;
}


  /*media queries for medium size phones*/
  @media only screen and (min-width: 370px) {
    p {
      font-size: 17px;
    }
  }
    
  /*media query for tablet size*/
@media only screen and (min-width: 480px) {
    p {
      font-size: 18px;
    }
  }
  

  /*media query of laptop size*/
@media only screen and (min-width: 900px) {
  p {
      font-size: 19px;
    }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 22px;
  }
  }

   /*media query of laptop size*/
@media only screen and (min-width: 1450px) {
  p {
      font-size: 21px;
    }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 24px;
  }
  }





